.mole-grid{
    display: grid;
    grid-template-columns: auto auto auto;
    background-color: white;
    padding: 10px;
}
.mole-grid > div{
    background: white;
    border: 2px solid black;
    height: 100px;
    font-size: 40px;
    text-align: center;
    padding: 10px;
}

div >img {
    max-width: 50%;
    max-height: 100%;
}