.mole-grid{
    display: grid;
    grid-template-columns: auto auto auto;
    background-color: white;
    padding: 10px;
    width: 375px;
    margin: 20px auto;
    
}
.mole-grid > div{
    background: white;
    border: 2px solid black;
    height: 100px;
    font-size: 40px;
    text-align: center;
    padding: 10px;
    width: 100px;
}

div >img {
    max-width: 50%;
    max-height: 100%;
}
#main-header{
    text-align: center;
    background: lightblue;
}
p{
    background: lightblue;
    height: 100px;
    width: 100px;
}
body{
    background: lightgreen;
}


