*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    text-align: center;
    margin: 20px;
    padding: 20px;
    border: 2px solid blue;
    background: lightblue;

}
div{
    text-align: center;
    border: 2px solid blue;
    background: lightblue;
    margin: 20px;
    padding: 20px;
}
form{
    width: 200px;
}
aside{
    display: flex;
    margin: 10px;
    justify-content: end;
}
body{
    background: lightgreen;
}
li{
    font-family: serif;
}
.startButton{
    background: plum;
}
a{
    color: blue;

}
a:hover{
    color: rgb(26, 255, 26);
}

